@media only screen and (min-width : 1201px) {
    body {
        background: coral;
    }

    /*!*body:before {*!*/
        /*!*content: '1201px >=';*!*/
    /*!*}*!*/
/*}*/

/*@media only screen and (max-width : 1200px) {*/
    /*body {*/
        /*background: yellow;*/
    /*}*/

    /*!*body:before {*!*/
        /*!*content: '1200px';*!*/
    /*!*}*!*/
/*}*/


/*@media only screen and (max-width : 991px) {*/
    /*body {*/
        /*background: blue;*/
    /*}*/

    /*!*body:before {*!*/
        /*!*content: '991px';*!*/
    /*!*}*!*/
/*}*/

/*@media only screen and (max-width : 768px) {*/
    /*body {*/
        /*background: orange;*/
    /*}*/
    /*!*body:before {*!*/
        /*!*content: '768px';*!*/
    /*!*}*!*/
/*}*/

/*@media only screen and (max-width : 560px) {*/
    /*body {*/
        /*background: red;*/
    /*}*/
    /*!*body:before {*!*/
        /*!*content: '560px';*!*/
    /*!*}*!*/
/*}*/

/*@media only screen and (max-width : 480px) {*/
    /*body {*/
        /*background: blue;*/
    /*}*/
    /*!*body:before {*!*/
        /*!*content: '480px';*!*/
    /*!*}*!*/

/*}*/

/*@media only screen and (max-width : 320px) {*/
    /*body {*/
        /*background: orange;*/
    /*}*/
    /*!*body:before {*!*/
        /*!*content: '320px';*!*/
    /*!*}*!*/
/*}*/




@media only screen and (min-width: 1201px){
    ul li{
        width: 200px;
    }
}

@media only screen and (max-width: 1200px){
    ul li{
        background-color: green!important;
    }
}

@media only screen and (max-width: 991px){
    ul li{
        display: block!important;
        width: 200px;
    }
}

@media only screen and (max-width: 768px){
    ul li{
        background-color: red!important;
    }
}

@media only screen and (max-width: 560px){
    ul li{
        display: block!important;
        background-color: #0B1B48!important;
        width: 120px;
    }
}

@media only screen and (max-width: 480px){
    p{
        display: block!important;
    }
}



























